@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    font-family: 'East Sea Dokdo', sans-serif;
    text-align: center;


    
}

/* style header & logo*/
#heading {
    font-size: 6em;
    margin-block-end: 0.1em
}

#logo {

}

/* How to paragraph style */

#heading2 {
    font-size: 4em;
    font-weight: bold;
    margin-block-start: 0.3em
}
.#playinfo {
    font-size: 3rem;
    max-width: 50%;




}


/* style player name input */






/* style gameboard */
.gameboard {
   

    
}


/* style gameboard buttons */
.choice {

background-color: black;
width: 30%;
margin-left: auto;
margin-top: 2%;

}

/* style gameboard images */
.startimage {
    width: 40%;
}
