 
body {
    font family: 'East Sea Dokdo', sans-serif;
    text-align: center;
    
}

/* sytle logo*/
#logo {
    
}

/* small images sytle*/
.small-image {
    list-style: none;
    display: flex;
    flex-direction: row;



}


/* style player name input */






/* style gameboard */
.gameboard {

}


/* style gameboard buttons */
.choice {


}

/* style gameboard images */

