@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    font family: 'East Sea Dokdo', sans-serif;
    text-align: center;


    
}

/* sytle header & logo*/
#heading {
    text-align: center;
    font-size: 3rem;
    font family: 'East Sea Dokdo';
    font-weight: bold;
}

#logo {

}

/* How to paragraph sytle */
.#info {
    



}


/* style player name input */






/* style gameboard */
.gameboard {

}


/* style gameboard buttons */
.choice {


}

/* style gameboard images */

